* {
	margin:0;
	padding:0;
}

body {
	background: #F9FAF4;
	font-family:sans-serif;
}

#content {
	margin-top: 30px;
}

#afs #content {
	width: 960px;
	margin: 80px auto 0;
}

#adsHolder {
	width:690px;
	margin-left:230px;
}

#header {
	width: 1015px;
	height: 70px;
	margin: 0 auto;
	text-align: right;
}

h1 {
	float: left;
	width: 620px;
	padding: 10px 20px 0 0;
	font-size:34px;
	color:#2299eb;
}

#logo {
	float: right;
	padding-top: 8px;
}

#searchHolder {
	height: 50px;
	background: #d0eaf0;
}

#searchboxHolder {
	width: 990px;
}

#searchbox {
	float: right;
	width: 500px;
	height: 25px;
	margin-top: 10px;
	text-align: center;
}

#tcHolder {
	padding: 20px;
	margin:20px 0 60px;
	border: 4px solid #e6ebd7;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: #FCFCF9;
	width: 700px;
	margin: 0 auto;

}

.clear {
	clear: both;
}

#copyright {
	margin-top:20px;
	padding-top:20px;
	border-top:1px solid #d1d1d1;
	width:960px;
	margin: 20px auto 0;
	color:#cecece;
	font-size:12px;
	clear:both;
	text-align:center;
}

#copyright a {
	color:#cecece;
	font-size:12px;
	text-decoration: none;
}pre {overflow-x: auto !important} code {overflow-x: auto !important} html {background: #fff !important} .row-fluid .span9 {width:100% !important} #toTop {display:none !important} .headsup {display:none !important} #layout-content {width:100% !important; margin:0px !important} .refsect1 .parameter {cursor:auto !important} #breadcrumbs { border: 1px solid !important; margin-bottom:0.85714285714286em !important; background: #f2f2f2 !important;border-color: #e0e0e0 !important;border-bottom-color: #d9d9d9 !important;border-radius: 2px !important; } body {background: white !important; margin:0px !important} #layout-content {border:none !important; padding:0px !important;} #breadcrumbs ul {margin:0px !important;} #layout {margin:0 !important; width:100% !important; padding:0 !important} #breadcrumbs ul {padding-left:.7em !important} h2.title {margin-top:17px} #usernotes .note .name {margin-left:0px !important} .sect1 {margin-top:-17px !important} body {padding: 20px;} #content {margin-left:0px !important} .layout-content {margin-left:0px !important} html {color: #333} #breadcrumbs { padding-bottom:0.55rem !important} #usernotes{margin-left:0px !important} #layout-content {background:transparent !important} a:link, a:visited {color:#369}