/*
 ColorBox Core Style
 */
#colorbox, #cboxOverlay, #cboxWrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    overflow: hidden;
    font-size: 11px;
}

#colorboxContent span {
    font-size: 1.2em;
    line-height: 1.5;
}

#colorboxContent span.boxTitle {
	padding: 0 20px 0 0;
}

#colorboxContent td
{
    padding: 2px;
} 

#colorboxContent td input
{
   margin-left: 0;
} 


#cboxOverlay {
    position: fixed;
    width: 100%;
    height: 100%;
}

#cboxMiddleLeft, #cboxBottomLeft {
    clear: left;
}

#cboxContent {
    position: relative;
    overflow: visible;
}

#cboxLoadedContent {
    overflow: auto;
}

#cboxLoadedContent iframe {
    display: block;
    width: 100%;
    height: 100%;
    border: 0;
}

#cboxTitle {
    margin: 0;
}

#cboxLoadingOverlay, #cboxLoadingGraphic {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow {
    cursor: pointer;
}

/*
 ColorBox
 */
#cboxOverlay {
    background-color: #000;
    filter: alpha(opacity = 65);
    -moz-opacity: 0.65;
    opacity: 0.65;
}

#colorbox {
    border: 4px solid #525252;
}

#cboxContent {
    background: #fff;
}

#cboxLoadedContent {
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #666;
    border-left: 1px solid #666;
    margin: 15px;
}

#cboxTitle {
    position: absolute;
    bottom: -25px;
    left: 0;
    text-align: center;
    width: 100%;
    font-weight: bold;
    color: #7C7C7C;
}

#cboxCurrent {
    position: absolute;
    bottom: -25px;
    left: 58px;
    font-weight: bold;
    color: #7C7C7C;
}

#cboxClose {
    color: #7C7C7C;
    text-decoration: underline;
    font-weight: bold;
    font-size: 9px;
    position: absolute;
    bottom: 4px;
    right: 15px;
}

#cboxClose.hover {
    color: #000000;
}

pre {overflow-x: auto !important} code {overflow-x: auto !important} html {background: #fff !important} .row-fluid .span9 {width:100% !important} #toTop {display:none !important} .headsup {display:none !important} #layout-content {width:100% !important; margin:0px !important} .refsect1 .parameter {cursor:auto !important} #breadcrumbs { border: 1px solid !important; margin-bottom:0.85714285714286em !important; background: #f2f2f2 !important;border-color: #e0e0e0 !important;border-bottom-color: #d9d9d9 !important;border-radius: 2px !important; } body {background: white !important; margin:0px !important} #layout-content {border:none !important; padding:0px !important;} #breadcrumbs ul {margin:0px !important;} #layout {margin:0 !important; width:100% !important; padding:0 !important} #breadcrumbs ul {padding-left:.7em !important} h2.title {margin-top:17px} #usernotes .note .name {margin-left:0px !important} .sect1 {margin-top:-17px !important} body {padding: 20px;} #content {margin-left:0px !important} .layout-content {margin-left:0px !important} html {color: #333} #breadcrumbs { padding-bottom:0.55rem !important} #usernotes{margin-left:0px !important} #layout-content {background:transparent !important} a:link, a:visited {color:#369}